<h1>Secrets#index</h1>
<p>Find me in app/views/secrets/index.html.erb</p>

<% @secrets.each do |secret| %>
    <%= secret.content %> 
    <%= secret.likes.count %> likes 
    
    <% if secret.users.include?(current_user) %><br>
    <a href="/secrets/<%= secret.id %>/likes" data-method="delete"> <button> Unlike </button> </a>
    <% else %>
        <form action="secrets/<%= secret.id%>/likes" method='post'>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input id="button" type='submit' value='Like' />
        </form>
    <% end %>

    <% if current_user == secret.user %>
        <a href="/secrets/<%= secret.id %>" data-method="delete"> <button> Delete </button> </a>
    <% end %>
    <br><br>

<% end %>
